
<!-- CAROUSEL SECTION-->

<div class="how-it-works">
    <h2 class="how-it-works__title">How Urlaubsglück works?</h2>
        
        <div class="jcarousel_wrapper">
            <div class="jcarousel__text">
                <a href="#" class="jcarousel__text--button">Step 1</a>
                <h3 class="jcarousel__text--title">Sed leo enim, condimentum</h3>
                <p class="jcarousel__text--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
            
            <div class="jcarousel">
                <ul>
                    <li class="jcarousel__li--first"></li>
                    <li class="jcarousel__li--second"></li>
                    <li class="jcarousel__li--third"></li>
                </ul>
            </div>
                <a class="jcarousel_prev" href="#"><img src="build/img/prev.png" alt="prev"></a>
                <a class="jcarousel_next" href="#"><img src="build/img/next.png" alt="next"></a>
            </div>
                
            <div class="jcarousel_wrapper jcarousel_wrapper--second">
                <div class="jcarousel__text">
                    <a href="#" class="jcarousel__text--button">Step 2</a>
                    <h3 class="jcarousel__text--title">Morbi velit risus</h3>
                    <p class="jcarousel__text--text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                </div>
                <div class="jcarousel">
                    <ul>
                        <li class="jcarousel__li--second"></li>
                        <li class="jcarousel__li--third"></li>
                        <li class="jcarousel__li--first"></li>
                    </ul>
                </div>
                <a class="jcarousel_prev" href="#"><img src="build/img/prev.png" alt="prev"></a>
                <a class="jcarousel_next" href="#"><img src="build/img/next.png" alt="next"></a>
            </div>

            <div class="jcarousel_wrapper jcarousel_wrapper--last">
                <div class="jcarousel__text">
                    <a href="#" class="jcarousel__text--button">Step 3</a>
                    <h3 class="jcarousel__text--title">Sed leo enim, condimentum</h3>
                    <p class="jcarousel__text--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>

            <div class="jcarousel">
                    <ul>
                        <li class="jcarousel__li--third"></li>
                        <li class="jcarousel__li--first"></li>
                        <li class="jcarousel__li--second"></li>
                    </ul>
            </div>
                <a class="jcarousel_prev" href="#"><img src="build/img/prev.png" alt="prev"></a>
                <a class="jcarousel_next" href="#"><img src="build/img/next.png" alt="next"></a>
        </div>
</div>	