
<!-- FOOTER -->

<footer>
	<div class="footer__container">
        <h2 class="footer__title">URLAUBSGLÜCK</h2>
            <div class="footer__company">
                <h4>Company</h4>
                <nav>
                    <ul class="footer__navigation">
                        <li><a class="footer__navigation--link" href="#">About</a></li>
                        <li><a class="footer__navigation--link" href="#">Contacts</a></li>
                        <li><a class="footer__navigation--link" href="#">Press</a></li>
                        <li><a href="#" class="footer__navigation--link footer__navigation--last">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <h4 class="footer__partners">Partners</h4>
            <div class="footer__logo">
                <h4 class="footer__design">design by</h4>
                <img src="build/img/logo_footer.png" alt="LOGO">
            </div>
    </div>	
</footer>
