
<!-- HEADER -->

<header>
	<div class="header__container">
        <div class="autorization">
            <a href="#" class="log-in">Log in</a>
            <a href="#" class="sign-up">Sign up</a>
        </div>
        <div class="header-text">
            <h2 class="header-text__logo">URLAUBSGLÜCK</h2>
            <h1 class="header-text__title">Share your holiday dreams</h1>
            <p class="header-text__under-title">And find the perfect partner to fullfill it</p>
            <a href="#" class="header-text__button">Find your holiday partner</a>
        </div>
    </div>
</header>