
<!-- IMAGES BRICS SECTION -->

<div class="ideas">
    <h2 class="ideas__title">Discover holiday activity ideas</h2>
    <div class="grid js-grid"></div>
</div>

<div class="search">
    <h2 class="search__title">Discover holiday activity ideas</h2>
    <span class="search__text">Hi! What are your holiday interests?</span>
            <form class="search__form" action="#" method="get">
                <input type="text" class="search__input" placeholder="Enter your interests">
                <button class="search__button" name="search">Search partners</button>
            </form>
    <div class="search__message"></div>
</div>