
<!-- PARTNERS SECTION-->

<div class="partners">
    <h2 class="partners__title">Meet a partner for your best holiday</h2>
    <div class="partners__container">
        <div class="partner-block">
            <div class="photo photo-partner1"></div>
            <div class="icon icon-1"></div>
            <h2 class="partner-block__title">Bradley Hunter</h2>
            <p class="partner-block__text">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
        <div class="partner-block partner-block--second">
            <div class="photo photo-partner2"></div>
            <div class="icon icon-2"></div>
            <h2 class="partner-block__title">Heather Walker</h2>
            <p class="partner-block__text">I'm a happy person that loves cats and climbing on mountains.</p>
        </div>
        <div class="partner-block">
            <div class="photo photo-partner3"></div>
            <div class="icon icon-3"></div>
            <h2 class="partner-block__title">Lucas Marsha</h2>
            <p class="partner-block__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
            
        </div>
        <div class="partner-block partner-block--right">
            <div class="photo photo-partner4"></div>
            <div class="icon icon-4"></div>
            <h2 class="partner-block__title">Bradley Hunter</h2>
            <p class="partner-block__text">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
    </div>
    <a href="#" class="partners__button">See other partners</a>
</div>