// PARTNERS SECTION 1440
@media screen and (min-width: 1024px) and (max-width: 999999px) {
.partners {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-top: 100px;
    
      .partners__container {
        position: relative;
        overflow: hidden;
        width: 940px;
        margin: $center;
      }
      
      .partners__title {
        font-family: $montserrat;
        margin: $center;
        width: 406px;
        font-size: 22px;
        font-weight: bold;
        color: #333333;
        text-align: center;
        padding: 0 0px;
      }
      
      .partner-block {
        width: 220px;
        height: 206px;
        margin: 35px $center;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
        float: left;

      
            .partner-block--second {
              height: 235px;
            }

            .photo {
              display: block;
              margin: $center;
              cursor: pointer;
            }
    
            .photo-partner1 {
              @include sprite(120px, 120px, $sprite, 0 -122px)
            }
    
            .photo-partner2 {
              @include sprite(120px, 120px, $sprite, -122px -122px)
            }
    
            .photo-partner3 {
              @include sprite(121px, 120px, $sprite, 0 0)
            }
    
            .photo-partner4 {
              @include sprite(121px, 120px, $sprite, -123px 0)
            }
            
            .icon {
              position: absolute;
              top: 83px;
              left: 132px;
            }
    
            .icon-1 {
              @include sprite(41px, 41px, $sprite, -244px 0px)
            }
    
             .icon-2 {
              @include sprite(41px, 41px, $sprite, -244px -43px)
            }
    
             .icon-3 {
              @include sprite(41px, 41px, $sprite, -244px -129px)
            }
    
             .icon-4 {
              @include sprite(41px, 41px, $sprite, -244px -86px)
            }
            
            .partner-block__title {
              font-family: $montserrat;
              font-size: 14px;
              font-weight: bold;
              color: #333333;
              text-align: center;
              margin-top: 18px;
              cursor: pointer;
            }
            
            .partner-block__text {
              width: 220px;
              font-family: $roboto;
              font-size: 14px;
              font-weight: lighter;
              color: #333333;
              margin-top: 14px;
              text-align: center;
            } 
        }

        .partner-block--right {
          margin-right: 0px;
        }
  
        .partners__button {
          font-size: 14px;
          font-weight: bold; 
          display: block;
          text-decoration: none;
          width: 193px;
          height: 40px;
          padding: 12px 0;
          font-family: $montserrat;
          color: $button-color;
          text-align: center;
          border: 2px solid $button-color;
          border-radius: 23px;
          margin: $center;
          margin-top: 63px;
        }
        
        .partners__button:hover {
          border-color: $button-hover;
        }
    }
}
