// PARTNERS SECTION 320px Mobile
@media screen and (max-width: 767px) {	
    .partners {
      width: 100%;
      position: relative;
      overflow: hidden;
    
      .partners__container {
        position: relative;
        overflow: hidden;
        margin: $center;
      }
      
      .partners__title {
        font-family: $montserrat;
        margin: $center;
        width: 320px;
        font-size: 22px;
        font-weight: bold;
        color: #333333;
        text-align: center;
        margin-top: 38px;
        padding: 0 20px;
      }
      
      .partner-block {
        width: 200px;
        height: 210px;
        margin: 20px auto $center;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;


          .partner-block--second {
            height: 235px;
          }
    
            .photo {
              display: block;
              margin: $center;
              cursor: pointer;
            }
    
            .photo-partner1 {
              @include sprite(120px, 120px, $sprite, 0 -122px)
            }
    
            .photo-partner2 {
              @include sprite(121px, 120px, $sprite, 0 0)
            }
    
            .photo-partner3 {
              margin-top: 30px;
              @include sprite(120px, 120px, $sprite, -122px -122px)
            }
    
            .photo-partner4 {
              margin-top: 30px;
              @include sprite(121px, 120px, $sprite, -123px 0px)
            }
            
            .icon {
              position: absolute;
              top: 90px;
              left: 120px;
            }
    
            .icon-1 {
              @include sprite(41px, 41px, $sprite, -246px 0px)
            }
    
             .icon-2 {
              @include sprite(41px, 41px, $sprite, -246px -129px)
            }
    
            .icon-3 {
              margin-top: 30px;
              @include sprite(41px, 41px, $sprite, -246px -43px)
            }
    
            .icon-4 {
              margin-top: 30px;
              @include sprite(41px, 41px, $sprite, -246px -86px)
            }
            
            .partner-block__title {
              font-family: $montserrat;
              font-size: 14px;
              font-weight: bold;
              color: #333333;
              text-align: center;
              margin-top: 18px;
              cursor: pointer;
            }
            
            .partner-block__text {
              font-family: $roboto;
              font-size: 14px;
              font-weight: lighter;
              color: #333333;
              margin-top: 14px;
              text-align: center;
            } 
        }
  
        .partners__button {
          display: block;
          text-decoration: none;
          width: 275px;
          height: 40px;
          padding: 13px 0;
          font-family: $montserrat;
          color: $button-color;
          text-align: center;
          border: 2px solid $button-color;
          border-radius: 23px;
          margin: 27px auto $center;
        }
        
        .partners__button:hover {
          border-color: $button-hover;
        }
    }
}